*{
    margin: 0;
    padding: 0;
}

.navbar, .nav-item{
    background-color: whitesmoke;
    border-style: none;
}

.collapse navbar{
    border-style: none;
}
[class*="col"]{
    padding: 1rem;
    background-color:whitesmoke;
    border: 5px solid #fff;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
}

[class*="con"]{
    background-color: whitesmoke; 
    text-align: center;
}

.container-md h1 {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: none;
}

.container-md h2{
    font-family: 'Encode Sans Condensed', sans-serif;
}
.jumbotron {
    background-image: url(images/brownprez2.jpg);
    background-size: cover;
    background-position: center;
    padding-top:300px;
    padding-bottom:200px;
    position: relative;
}

.jumbotron h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 55px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px red;
}

.btn-primary {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    border-style: none;
    outline: none;
    text-decoration: none;
    background-color: red;
}

.btn-primary:hover{
    color: whitesmoke;
    background-color: green;
    text-decoration: none;
}

footer{
    background-color: #c4e3f3;
}

.carousel-item{
    height: 40rem;
    position: relative;
    background-image: url(images/morphfaces.gif);
}

.container{
    position: center;
    padding-top: 50px;
    width: 500px;
    height: 500px;
}

.container h1{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
}

#subscribe{
    min-height: 75vh;
}


.left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/calendar.jpg);
    background-size: cover;
    min-height: 75vh;
}

.right{
    display : flex;
    justify-content : flex-end;
    align-items : center;
    background-color:#FFF;
    color : #3d231b;
}

@media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
}

.social-footer {
    padding: 1rem;
    background-image: url(/images/christmaslights.gif);
    display: flex;
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}
  

  