*{
    margin: 0;
    padding: 0;
}

.navbar, .nav-item{
    padding: 0;
    margin: 0;
    border-style: none;
    display: flex;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    background-color: white;
}

.jumbotron {
    background-image: url(images/brownprez2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top:200px;
    padding-bottom:200px;
    position: relative;
    margin: 0;
    min-height: 55vh;
}

landing#jumbotron{
    margin: 0;
}

.jumbotron h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 55px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px red;
}

.btn-primary {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    border-style: none;
    outline: none;
    text-decoration: none;
    background-color: red;
}

.btn-primary:hover{
    color: whitesmoke;
    background-color: green;
    text-decoration: none;
}

.carousel-item{
    height: 40rem;
    position: relative;
    background-image: url(images/morphfaces.gif);
}

.text-center{
    text-align: center;
    margin: 1.25rem 0;
    border-bottom: 1px solid whitesmoke;
    padding: 1.25rem 0;
}


#subscribe{
    min-height: 75vh;
}

ul.menu.simple{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: #c4e3f3;
}

.col h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
#logistics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 1px;
    height: 35vh;
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: red;
    text-shadow: 2px 2px 2px whitesmoke;
}

.carousel-caption{

}

.footer{
    background-image: url(/images/footer.jpeg);
    height: 22vh;
}

ul.menu-simple{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 30px;
}

ul.menu-simple li {
    display: inline-block;
    margin-right: 1em;
}
