*{
    margin: 0;
    padding: 0;
}

main > section {
    min-height: 75vh;
}

[class*="col"]{
    padding: 1rem;
    background-color:whitesmoke;
    border: 2px solid #fff;
    text-align: center;
}

[class*="con"]{
    background-color: whitesmoke; 
    text-align: center;
}

.container-md h1, {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-color: none;
}

.container-md h2{
    font-family: 'Encode Sans Condensed', sans-serif;
}
.jumbotron {
    background-image: url(images/christmaslights.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:200px;
    padding-bottom:200px;
    position: relative;
}

.jumbotron h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 55px;
    color: whitesmoke;
    text-shadow: 2px 2px 2px red;
}

.btn-primary {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    border-style: none;
    outline: none;
    text-decoration: none;
    background-color: red;
}

.btn-primary:hover{
    color: whitesmoke;
    background-color: green;
    text-decoration: none;
}

footer{
    background-color: #c4e3f3;
}

.carousel-item{
    height: 40rem;
    position: relative;
    background-image: url(images/morphfaces.gif);
}

.container{
    position: center;
    padding-top: 50px;
    width: 500px;
    height: 500px;
}

.container h1{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
}